{{#profile}}
    <h1>{{this.username}} <span id = "names">{{this.firstName}} {{this.lastName}}</span></h1>
    <h2>Articles:</h2>
{{/profile}}
{{#each articles}}
    <div><a href="/article/details/{{this.id}}">{{this.name}}</a></div>
{{/each}}
